<footer class="footer container-fluid">
    <div class="">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{{ asset('img/logos/cc.png') }}" alt="Creative Commons license 4.0">
                <img src="{{ asset('img/logos/ccPersonal.png') }}" alt="Cultura libre. Reconocimiento de autoría">
                <img src="{{ asset('img/logos/openS.png') }}" alt="open source">
            </div>
            <div class="col-md-4 text-center">
                <p>{{ 'global.ubu'|trans({}, 'BaseBundle') }}</p>
            </div>
            <div class="col-md-1 col-md-offset-2 text-center">
                <div id="footer" class="parent">
                            <span role="button" class="jq-dropdown-relative" data-horizontal-offset="-40" data-vertical-offset="-90" data-jq-dropdown="#jq-dropdown-2">
                                <span class="fa fa-globe"></span> {{ 'global.language'|trans({}, 'BaseBundle') }}
                                <span class="caret fa-rotate-180"></span>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div id="jq-dropdown-2" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
            <li class="text-center"><a href="{{ path('base_homepage' , { '_locale' : 'en' }) }}">English</a></li>
            <li class="text-center"><a href="{{ path('base_homepage' , { '_locale' : 'es' }) }}">Español</a></li>
        </ul>
    </div>
</footer>