<nav class="navbar navbar-custom-registered navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a href="{{ path('user_homepage') }}">
                <img src="{{ asset('img/logos/misbeans.png') }}" alt="misbeans logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                <ul class="nav navbar-nav">
                    <li class="right-space"><span class="fa fa-4x fa-envelope"></span></li>
                    <li>
                        <div class="dropdown gravatar">
                            <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                <img src="{{ gravatar('{{app.user.email}}') }}"/>
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li class="text-center text-capitalize text-info">{{ app.user.username }}</li>
                                <li><a class="text-center" href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            {#{% endif %}#}
        </div>
    </div>
    <!-- /.container -->
</nav>