<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('base_homepage') }}">
                <img class="navbar-brand" src="{{ asset('img/logos/misbeans.png') }}" alt="misbeans logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav toFloor">
                <li>
                    <div class="dropdown">
                            <span role="button" class="jq-dropdown-relative" data-horizontal-offset="-45" data-vertical-offset="10" data-jq-dropdown="#jq-dropdown-1">
                                <span class="fa fa-globe"></span> {{ 'global.language'|trans({}, 'BaseBundle') }}
                                <span class="caret"></span>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
            <ul class="jq-dropdown-menu">
                <li class="text-center"><a href="{{ path('base_homepage' , { '_locale' : 'en' }) }}">English</a></li>
                <li class="text-center"><a href="{{ path('base_homepage' , { '_locale' : 'es' }) }}">Español</a></li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>