<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
     aria-labelledby="passwordModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center"
                    id="exampleModalLabel"> {{ 'user.changePass'|trans({}, 'BaseBundle') }}</h4>
            </div>

            {{ form_start(formPassword, { 'action': path('change_password'), 'attr': {'class': 'form-group'}}) }}
            <div class="modal-body">
                {# current password #}
                <div class="form-group">
                    {{ form_errors(formPassword.current_password) }}
                    {{ form_label(formPassword.current_password) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                        {{ form_widget(formPassword.current_password, { 'attr': {'class': 'form-control input-sm',} }) }}
                    </div>
                </div>

                {# password1 #}
                <div class="form-group">
                    {{ form_errors(formPassword.plainPassword) }}
                    {{ form_label(formPassword.plainPassword.vars.form.first) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        {{ form_widget(formPassword.plainPassword.vars.form.first, { 'attr': {'class': 'form-control input-sm',} }) }}
                    </div>
                </div>

                {# password2 #}
                <div class="form-group">
                    {{ form_label(formPassword.plainPassword.vars.form.second) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        {{ form_widget(formPassword.plainPassword.vars.form.second, { 'attr': {'class': 'form-control input-sm',} }) }}
                    </div>
                </div>

                {{ form_rest(formPassword) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'form.cancel'|trans({}, 'BaseBundle') }}
                </button>
                <input type="submit" class="btn btn-primary"
                       value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
            {{ form_end(formPassword) }}

        </div>
    </div>
</div>