{% extends 'BaseBundle::/Default/baseNoBody.html.twig' %}

{% trans_default_domain 'BaseBundle' %}

{% block header %}
    <meta name="title" content="{{ app.user.username }} - MisBeans. Juegos de economía experimental">
    <meta name="description" content="Juegos de economía experimental - TFG GII UBU">
    <title>{{ app.user.username }} - MisBeans</title>
{% endblock header %}

{% block body %}
    <body id="page-top" data-spy="scroll" ng-app="timer-demo" ng-controller="TimerDemoController">
    <script src="{{ asset('js/angular/angular-timer-bower.js') }}"></script>
    <script src="{{ asset('js/angular/angular-timer-all.min.js') }}"></script>

    {%  include "BaseBundle::/Includes/navbar-registered.html.twig" %}

    <div class="container-fluid full-section">
        <div class="blank"></div>
        <div class="col-lg-6 col-lg-offset-3">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="alert alert-info">
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        {# formulario de búsqueda #}
        <div class="col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2>{{ 'userhome.buscar-partida'|trans({}, 'BaseBundle') }}</h2>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="search" name="search"
                           placeholder="{{ 'form.search'|trans({}, 'BaseBundle') }}" type="text"
                           data-list=".list">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <ul class="list">
                {% for partida in partidasEnCurso %}
                    <li>
                        <a href="{{ url('partida_register',{'id_partida' : partida.id}) }}">{{ partida.nombre | capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>
            {# tabla de mis partidas#}
            <div class="text-center">
                <h2>{{ 'userhome.mis-partidas'|trans({}, 'BaseBundle') }}</h2>
                <hr>
                {# si una partida ha empezado, mostrar error generado en Partida controller -> partidaAction #}
                {% for flashMessage in app.session.flashbag.get('started') %}
                    <div class="alert alert-danger alert-dismissible text-center fade in float" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        {{ 'oferta.max-reached'|trans({}, 'BaseBundle') }}
                    </div>
                {% endfor %}
                <table class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">{{ 'partida.nombre'|trans({}, 'BaseBundle') }}</th>
                        <th class="text-center">{{ 'partida.fin'|trans({}, 'BaseBundle') }}</th>
                    </tr>
                    </thead>
                    {% for partida in partidas %}
                        <tr onclick="location.href='{{ path('partida_home',{'id_partida' : partida.id}) }}'">
                            <td class="text-center"> {{ partida.nombre | capitalize }} </td>
                            <td class="text-center">  <timer end-time="{{ partida.ms }}">
                            {% verbatim %}{{days}} d  {{hours}} h  {{minutes}} m {{seconds}} s{% endverbatim %}</timer>
                           </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
    {% include "BaseBundle::/Includes/footer-registered.html.twig" %}

    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.hideseek.min.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.dropdown.min.js') }}"></script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/userHome.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>

    </body>
{% endblock body %}