{% extends 'BaseBundle::/Default/base.html.twig' %}

{% trans_default_domain 'BaseBundle' %}

{% block header %}
    <meta name="title" content="{{ app.user.username }} - MisBeans. Juegos de economía experimental">
    <meta name="description" content="Juegos de economía experimental - TFG GII UBU">
    <title>{{ app.user.username }} - MisBeans</title>
{% endblock header %}
{% block stylesheets %}
    <link href="{{ asset('css/jquery/jquery.datetimepicker.css') }}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block navbar %}
    {% include "BaseBundle::/Includes/navbar-registered.html.twig" %}
{% endblock navbar %}

{% block body %}

    <div class="partida-section container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h3 class="text-center"> {{ 'adminhome.new'|trans({}, 'BaseBundle') }}</h3>
                <hr>

                {% for flashMessage in app.session.flashbag.get('correct') %}
                    <div class="alert alert-success text-center alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        {{ 'partida.successful'|trans({}, 'BaseBundle') }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger text-center alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        {{ 'partida.error'|trans({}, 'BaseBundle') }}
                    </div>
                {% endfor %}

                <form action="{{ path('new_game') }}" {{ form_enctype(form) }} method="POST"
                      class="form-group blue-form">

                    {{ form_errors(form) }}
                    {# nombre#}
                    <div class="form-group">
                        {{ form_errors(form.nombre) }}
                        {{ form_label(form.nombre) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o fa-fw"></i></span>
                            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    {# password#}
                    <div class="form-group">
                        {{ form_errors(form.password) }}
                        {{ form_label(form.password) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            {{ form_widget(form.password, { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    {# fin #}
                    <div class="form-group">
                        {{ form_errors(form.fin) }}
                        {{ form_label(form.fin) }}
                        <div class="form-group symfony-form-row">
                            {{ form_widget(form.fin , { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    {# maxJugadores#}
                    <div class="form-group">
                        {{ form_errors(form.maxJugadores) }}
                        {{ form_label(form.maxJugadores) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-plus fa-fw"></i></span>
                            {{ form_widget(form.maxJugadores, { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    {# maxOfertas#}
                    <div class="form-group">
                        {{ form_errors(form.maxOfertas) }}
                        {{ form_label(form.maxOfertas) }}
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-dashboard fa-fw"></i></div>
                            {{ form_widget(form.maxOfertas, { 'attr': {'class': 'form-control'} }) }}
                            <div class="input-group-addon"><i class="fa fa-info-circle" data-toggle="tooltip"
                                                              data-placement="left"
                                                              title="{{ 'adminhome.max-ofertas'|trans({}, 'BaseBundle') }}"></i>
                            </div>
                        </div>
                    </div>

                    {# tiempoOferta#}
                    <div class="form-group">
                        {{ form_errors(form.tiempoOferta) }}
                        {{ form_label(form.tiempoOferta) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-2 fa-fw"></i></span>
                            {{ form_widget(form.tiempoOferta, { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    {# aluPUsuario -> alubias x usuario #}
                    <div class="form-group">
                        {{ form_errors(form.aluPUsuario) }}
                        {{ form_label(form.aluPUsuario) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-cogs fa-fw"></i></span>
                            {{ form_widget(form.aluPUsuario, { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    {# Ratio (proportion)#}
                    <div class="form-group">
                        {{ form_errors(form.ratio) }}
                        {{ form_label(form.ratio) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-sliders fa-fw"></i></span>
                            {{ form_widget(form.ratio, { 'attr': {'class': 'form-control input-group'} }) }}
                        </div>
                    </div>

                    <p class="text-center"><b>  {{ 'partida.cobDouExp'|trans({}, 'BaseBundle') }} </b></p>

                    {# Exponente Y #}
                    <div class="form-group">
                        <div class="row text-center">
                            <div class="col-md-6">
                                {{ form_errors(form.expY) }}
                                {{ form_label(form.expY) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-toggle-up fa-fw"></i></span>
                                    {{ form_widget(form.expY, { 'attr': {'class': 'form-control input-group'} }) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {# Exponente Z #}

                                {{ form_errors(form.expZ) }}
                                {{ form_label(form.expZ) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-toggle-up fa-fw"></i></span>
                                    {{ form_widget(form.expZ, { 'attr': {'class': 'form-control input-group'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}

                    <div class=" form-group pull-right">
                        <input class="btn btn-default" type="submit"
                               value="{{ 'form.submit'|trans({}, 'BaseBundle') }}"/>
                    </div>
                    <br>
                </form>

            </div>
        </div>
    </div>

{% endblock body %}

{% block footer %}
    {% include "BaseBundle::/Includes/footer-registered.html.twig" %}
{% endblock footer %}

{% block javascript %}

    <script src="{{ asset('js/jquery/jquery.datetimepicker.full.js') }}"></script>
    <script src="{{ asset('js/newGame.js') }}"></script>

{% endblock javascript %}